# .gitignore

# Ignore virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/
